@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Source+Code+Pro:300,400&display=swap");

@font-face {
  font-family: Avenir Heavy;
  src: url(fonts/Avenir/AvenirLTStd-Heavy.otf);
  font-weight: bold;
}

@font-face {
  font-family: Avenir Book;
  src: url(fonts/Avenir/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: Avenir Medium;
  src: url(fonts/Avenir/AvenirLTStd-Medium.otf);
}

:root {
  --portrait-index: 2;
  --texture-index: 1;
  --font-color: #030067;
  --bg-color: #f5f4f4;
  --code-gray: #1e1e1e;
  --code-text: #848484;
  --code-blue: #4f7a9e;
}

* {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  font-family: "Avenir Medium", sans-serif;
  word-spacing: 1.5px;
  letter-spacing: 1.5px;
  background-color: var(--bg-color);
}

/*    HEADER    */

header {
  width: 100vw;
  height: 100vh;
}

h3 {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 150%;
}

.title-page h1,
button {
  display: block;
  font-size: 400%;
  font-weight: 400;
}

.title-page h2 {
  font-size: 200%;
  font-style: italic;
  margin-bottom: 3em;
  word-spacing: 5px;
}

.title-page button {
  border: none;
  background-color: var(--bg-color);
}

.title-page button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.title-page {
  margin-left: 9em;
  margin-top: 8em;
}

#texture {
  width: 30%;
  display: block;
  position: absolute;
  right: 10%;
  top: 20%;
  z-index: var(--texture-index);
}

#portrait {
  width: 25%;
  display: block;
  position: absolute;
  right: 14%;
  top: 18%;
  z-index: var(--portrait-index);
}

.works-btn {
  cursor: pointer;
}

/*      ABOUT     */

.about {
  width: 100vw;
  height: 100vh;
  padding-top: 3%;
}

.about h1,
.works h1 {
  margin: 0 2em;
  font-size: 2.4em;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3em;
  line-height: 33px;
  font-size: 1.5em;
}

.skills {
  display: block;
  width: auto;
}

.code-area {
  background-color: var(--code-gray);
  margin-top: 1em;
  padding: 12px;
  font-size: 0.9em;

  font-family: "Source Code Pro", monospace;
}

.code-area p {
  color: #f7e2e2;
}

.code-area span {
  margin-right: 2em;
  border-right: var(--code-text) 1px solid;
  padding: 10px 1em 10px 5px;
  color: #f7e2e2;
}

.code-area span.invisible {
  margin-right: 0;
  padding: 0;
  border: none;
  opacity: 0;
}

.more-about p {
  text-align: justify;
  margin-bottom: 2em;
}

.typing {
  width: 18ch;
  border-right: 2px solid var(--font-color);
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(18), caret 0.5s step-end infinite alternate;
}

/*     KEYFRAMES     */

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/*      WORKS     */

.works {
  width: 100vw;
  padding-top: 3%;
}

.works h1 {
  margin-top: 2%;
  margin-bottom: 5%;
}

.works h2 {
  font-size: 2em;
  margin-left: 2.5em;
  margin-bottom: 1em;
}

.works div.current-work img {
  display: block;
  margin: 2em auto 5em;
}

.works p {
  font-size: 1em;
  margin-left: 5em;
}

.works-img img {
  width: 40%;
  display: block;
  transition-property: transform, scale;
  transition: 0.2s ease-in-out;
  border: 5px solid #9ad3b1;
}

.works-img img:hover {
  transform: scale(1.15);
}

.works-img :nth-child(1) img {
  margin-left: 7%;
}

.works-img :nth-child(2) img {
  margin-left: 35%;
  margin-top: -9%;
  margin-bottom: 8%;
}

.works-img :nth-child(3) img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
}

.works-img :nth-child(4) img {
  margin-left: 50%;
}

.works-img :nth-child(5) img {
  margin-left: 25%;
  margin-top: -9%;
  margin-bottom: 8%;
}

.works-img :nth-child(6) img {
  margin-left: 10%;
  margin-bottom: -10%;
}

.works-img :nth-child(7) img {
  margin-left: 55%;
  margin-bottom: 5%;
}

.works-img :nth-child(8) img {
  margin-left: 5%;
  margin-top: -1%;
  margin-bottom: 5%;
}

.works-img :nth-child(9) img {
  margin-left: 55%;
  margin-top: -10%;
  margin-bottom: 5%;
}

@media all and (max-width: 1240px) {
  /*   HEADER    */
  .title-page h1,
  button {
    font-size: 400%;
  }

  .title-page h2 {
    font-size: 150%;
  }

  .title-page {
    margin-left: 7em;
  }
}

@media all and (max-width: 1000px) {
  /*   HEADER    */
  .title-page h1,
  button {
    font-size: 250%;
  }

  .title-page h2 {
    font-size: 80%;
  }

  .title-page {
    margin-left: 4em;
    margin-top: 4em;
  }

  #portrait {
    right: 22%;
    top: 20%;
  }
}

@media all and (max-width: 570px) {
  /*   HEADER    */
  .images {
    display: none;
  }
}
